<%# in app/views/tasks/new.html.erb%>

<%= form_with model: @task, class: 'edit-task' do |f|%>
  <p>Please use the following information to edit your task in the database:</p>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :due_date %>
  <%= f.text_field :due_date %>

  <%= f.submit "Update Task", class: "task-button" %>
<% end %>

<ul>
<li><%= link_to "Back to Task List", tasks_path %></li>
</ul>