<h1>Tasks</h1>
<h2><%= link_to "Create A New Task", new_task_path %>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      <% if task.completion_date %>
        <%= link_to task.name, task_path(task), class: "name", style: style='text-decoration:line-through'  %> 
        <%= link_to "Mark Incomplete", mark_incomplete_path(task), class: 'incomplete', method: :patch %>
      <% else %>
        <%= link_to task.name, task_path(task), class: "name"  %> 
        <%= link_to "Mark Complete", mark_complete_path(task), class: 'complete', method: :patch %>
      <%end%>
    </li>
  <% end %>
</ul> 