<h1><%= @task[:name] %></h1>
<h2><%= @task[:description] %></h2>
<h3><%= @task[:due_date] %></h3>

<%= link_to "edit", edit_task_path(@task), class: "name"%>
<%= link_to "delete", task_path(@task), method: :delete, class: "name" %>

<ul>
<li><%= link_to "Back to Task List", tasks_path %></li>
</ul>